{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Laptopshow</title>
    {% endblock %}

    {% block content %}

    <div class="card mb-3" style="max-width: 540px;">
        {% for laptop in page_obj %}
        <div class="row no-gutters">
          <div class="col-md-4" style="width: 1%;height: 2%;">
            <img src="{{laptop.document.url}}" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <ul>
                <li>Name-{{laptop.name}}</li>
                <li>Company-{{laptop.company}}</li>
                <li>Ram-{{laptop.ram}}</li>
                <li>Rom{{laptop.rom}}</li>
                <li>Price-{{laptop.price}}</li>
                <li>Processor-{{laptop.processor}}</li>
            </ul>
              
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="pagination">
        <div class="step-links">
            <span class="current" style="color:tomato;">
                <b>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</b>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                {% if page_obj.has_previous %}
                    <a href="{% url 'laptopshow' %}?page=1"><button class="btn btn-secondary">First</button></a>
                    <a href="{% url 'laptopshow' %}?page={{page_obj.previous_page_number}}"><button class="btn btn-secondary">Previous</button></a>
                {% endif %}
    
    
                {% if page_obj.has_next %}
                <a href="{% url 'laptopshow' %}?page={{page_obj.next_page_number}}"><button class="btn btn-secondary">Next</button></a>
                <a href="{% url 'laptopshow' %}?page={{page_obj.paginator.num_pages}}"><button class="btn btn-secondary">Last</button></a>
                {% endif %}
                </span>
        </div>
    </div><br><br><br>
    
    {% endblock %}